<%= form_for(([:admin, @project]), html: {'data-turbo' => "false"}) do |form| %>
  <%= render 'admin/shared/error', model: project %>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary btn-lg" %>
    <%= link_to "Back to projects", admin_projects_path, class: "btn btn-danger btn-lg" %>
  </div>
<% end %>
