<%= form_for(([:admin, @student]), html: {'data-turbo' => "false"}) do |form| %>

    <%= render "admin/shared/error", model: student %>

    <div class="form-group">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
        <%= form.label :email %> 
        <%= form.email_field :email, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
        <%= form.label :date_of_birth %> 
        <%= form.date_field :date_of_birth, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
        <%= form.label :address %> 
        <%= form.text_field :address, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
        <%= form.label :contact %>
        <%= form.text_field :contact, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
        <%= form.label :profile_image %> <br>
        <%= form.file_field :profile_image %>
    </div>
    

    <div class="form-group">
        <%= form.submit class: "btn btn-primary btn-lg" %>
        <%= link_to 'Cancel', admin_students_path, class: "btn btn-danger btn-lg" %>
    </div>
    
<% end %>