<div class="col-lg-12">
    <div class="card rounded-0 shadow mt-5 mb-5">
        <div class="card-body">
            <%= render "admin/blogs/partials/flash_messages" %>

            <h1>Blog Detail</h1>

            <p><strong>Title: </strong><%= @blog.title %></p>
            <p><strong>Content: </strong><%= @blog.content %></p>

            <%= link_to 'Back', admin_blogs_path, class: "btn btn-danger btn-lg" %> | <%= link_to 'Edit', edit_admin_blog_path(@blog), class: "btn btn-warning btn-lg" %>
        </div>
    </div>
</div>